<div class = "container">
    <% @playlist.each do |playlist| %>
        <h3> <%= playlist.name %> </h3>
        <%= link_to "Iniciar a Fetsa com essa playlist", playlist_path(playlist), class: "btn btn-outline-primary" %>
        <%= link_to "Excluir Playlist", playlist_path(playlist), method: :delete , class: "btn btn-outline-danger" %>
    <% end %>
<div class = "container">